.box1{
    display:inline-block;
    background-color:#e02e2e;
    color:white;
    padding:10px;
    margin:5px 0;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-decoration: none;
}
.box2{
    display:inline-block;
    background-color:#2e34e0;
    color:white;
    padding:10px;
    margin:5px 0;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-decoration: none;
}
.box3{
    display:inline-block;
    background-color:#0ced81;
     color:white;
    padding:10px;
    margin:5px 0;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-decoration: none;
}
.clear-example{
    background-color:#f4f4f4;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.clear-box{
    display: inline-block;
    margin: 70px;
    background-color: #ccc;
}